$dark-blue: rgba(0, 67, 115, 0.91);
$transparent-3: rgba(38, 40, 0, 0.2);
$white: #fff;


@media only screen and (max-width: 480px) {
  .hero--home {
    h1 {padding: 0 0 1rem;}

    .hero__bg-container {
      background-image: url('/assets/img/mountains-day.png');
      margin: -50px 0 0;
      min-height: 580px;

      h1 {
        font-size: 48px;
        letter-spacing: -.02em;
        line-height: 1.35;
        margin: 24px 0;
        padding: 11rem 0 1rem;
      }
    }

    .hero__bg-container-overlay {
      min-height: 580px;
    }
  }
}

@media only screen and (min-width: 481px) {
  .hero--home {
    .hero__title h1 {
      font-size: 56px;
      letter-spacing: -.02em;
      line-height: 1.35;
      margin: 24px 0;
      padding: 14rem 0 1rem;
    }

    .hero__bg-container {
      background-image: url('/assets/img/mountains-day.png');
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero--home {
    .hero__bg-container {
      background-image: url('/assets/img/mountains-day.png');

      h1 {
        font-size: 78px;
        letter-spacing: -.03em;
        line-height: 1.25;
        margin: 24px 0;
        padding: 15rem 0 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .hero--home {
    .hero__bg-container {
      background-image: url('/assets/img/mountains-day.png');

      h1 {
        font-size: 78px;
        letter-spacing: -.03em;
        line-height: 1.25;
        margin: 24px 0;
        padding: 15rem 0 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero--home {
    h1 {
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-size: 100px;
      font-weight: 300;
      letter-spacing: -.04em;
      line-height: 1;
      padding: 17rem 0 3rem;
    }

    .hero__bg-container {
      background-image: url('/assets/img/mountains-day.png');
    }
  }
}

.hero {
  text-align: center;
  a {display: inline-block;}

  .hero__bg-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 80vh;
    width: 100%;
  }

  .hero__bg-container-overlay {
    background-color:  $transparent-3;
    color: $white;
    height: 80vh;
    margin: -24px 0 0;
  }

  .hero__btn {
    display: inline-block;
    margin: 0 6px 12px;

    .hero__btn--blue a:hover {
      background-color: $dark-blue;
    }
  }

  @media only screen and (min-width: 500px) {
    .hero__btn {margin: 0 12px 12px;}
  }
}
