.about {
  // display: inline-block;
  // margin: 0 auto;
  max-width: $max-section-width;
  // position: relative;

  .about__box {

    .mdl-card {
      min-height: 380px;
      width: 100%;
    }

    .mdl-card__title {
      background: url('/assets/img/profile.jpg') bottom right 50% no-repeat $card-bg-color;
      color: $white;
    }
  }

  .about__text {
    .mdl-card {
      min-height: 380px;
      width: 100%;
    }

    .mdl-card__title {
      background: url('/assets/img/dog.png') bottom right 15% no-repeat $card-bg-color;
      color: $white;
    }
  }
}
