$light-grey: #dfdfdf;

.section-wrapper--light-grey {
  background-color: $light-grey;
}

.section--logos {
  margin: 0 auto;
  max-width: 1600px;

  .section__logo-box {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
}
