$light-grey: #dfdfdf;
$max-divider-width: 1600px;

.section-wrapper--light-grey {
  background-color: $light-grey;
}

.logos {
  margin: 0 auto;
  max-width: $max-divider-width;

  .logos__logo-box {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
}
