$card-bg-color: #00bcd4;
$white: #fff;
$max-width-portfolio--cards: 980px;

.portfolio--cards {
  max-width: $max-width-portfolio--cards;

  .portfolio__item {

    .mdl-card {
      min-height: 320px;
      width: 100%;
    }

    .mdl-card__title {
      background: url('/assets/img/dog.png') bottom right 15% no-repeat $card-bg-color;
      color: $white;
    }
  }
}
