$card-bg-color: #46b6ac;
$white: #fff;

.portfolio--cards {
  .portfolio__item {
    // display: inline-block;
    // margin: 0 auto;

    .mdl-card {
      height: 320px;
      width: 100%;
    }

    .mdl-card__title {
      background: url('/assets/img/dog.png') bottom right 15% no-repeat $card-bg-color;
      color: $white;
    }
  }
}
